.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica;
}

/* ADDED SCROLL BEHAVIOR TO OUR WEBAPP WHEN CLICKING ON LOCAL LINKS */
html {
  scroll-behavior: smooth;
}

body {
  background-color:  rgb(71 85 105);
}

.c-ard {
background-color: rgb(30 41 59);
}

.card {
  background-color:   rgb(51 65 85);
}

/* ADDED FLEX TO HERO TO CENTER IMAGE AND TEXT ON MOBILE */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-section-modal {
  border-radius: 2%;
  
}

h1 {
  color: white;
  padding: 20px;
}


/* adding classes to elements to brute force changes */
.brute-h1 {
  color: white;
  text-shadow: -2px -2px black;
}

.n-brute-btn  {
  width: 300px;
  margin: 0px 10px 0px 10px;
  background-color: rgba(116, 128, 255);
  color: white;
  border: 1px solid rgba(47, 57, 76);
}

.n-brute-btn:hover {
  background-color: rgba(116, 128, 255);
  color: white;
  border: 1px solid white;
}

.brute-btn {
  background-color: rgba(116, 128, 255);
  color: white;
  border: 1px solid rgba(47, 57, 76);
}

.brute-btn:hover {
  background-color: rgba(116, 128, 255);
  color: white;
  border: 1px solid white;
}

.past-search-button {
  width: 285px;
  height: 80px;
  display: flex;
  flex-direction: column;
  background-color: rgba(47, 57, 76);
  border: 1px solid rgba(116, 128, 255);
  color: white;
  font-family: helvetica;
  font-size: 20px;
  font-weight: 530;
}

.past-search-button:hover {
  border: 1px solid rgba(116, 128, 255);
  outline: 2px solid rgba(116, 128, 255);
  outline-offset: 2px;
  background-color: rgba(47, 57, 76);
}

header {
  text-align: center;
}


/* ADDED SCROLL BEHAVIOR AND A MAXIMUM HEIGHT TO THE HISTORY LIST */
#search-history-list {
  overflow-y: auto;
  max-height: 200px;
}

/* ADDED MEDIA QUARRY TO CHANGE TO MOBILE VIEW AT 430px width */
@media screen and (max-width: 430px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
  }
}
