.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica;
}

/* ADDED SCROLL BEHAVIOR TO OUR WEBAPP WHEN CLICKING ON LOCAL LINKS */
html {
  scroll-behavior: smooth;
}

body {
background-color: white  ;
}

/* ADDED FLEX TO HERO TO CENTER IMAGE AND TEXT ON MOBILE */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

h1 {
  color: white;
  padding: 20px;
}


.card {
  background-color: rgb(31, 35, 43);
}

/* adding classes to elements to brute force changes */
.brute-h1 {
  color: white;  
  text-shadow: -2px -2px black;
}

.brute-btn {
  background-color: white;
  color: black;
  border: 1px solid rgb(111, 0, 255);
}

.brute-btn:hover {
  background-color: rgb(111, 0, 255);
  color: white;
  border: 1px solid white;
}

header {
  text-align: center;
}

/* ADDED SCROLL BEHAVIOR AND A MAXIMUM HEIGHT TO THE HISTORY LIST */
#search-history-list {
  overflow-y: auto;
  max-height: 200px;
}




/* ADDED MEDIA QUARRY TO CHANGE TO MOBILE VIEW AT 430px width */
@media screen and (max-width: 430px) {
  
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
  }
}
